﻿@model IEnumerable<GardenShopOnline.Models.Message>

@{
    ViewBag.Title = "Contact us";
}

<div class="container">
    <!-- Page header start -->
    <div class="page-title">
        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <h5 class="title">Chat App</h5>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"> </div>
        </div>
    </div>
    <!-- Page header end -->
    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->
                    <div class="row no-gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="selected-user">
                                <span>To: <span class="name">Bonsai garden</span></span>
                            </div>
                            <div class="chat-container">
                                <ul class="chat-box chatContainerScroll" id="discussion" data-userid="@ViewData["toUserId"]" data-currentuser="@ViewData["fromUserId"]">
                                    @foreach (var item in Model)
                                    {
                                        if (item.FromUserId == ViewData["fromUserId"].ToString())
                                        {
                                            <li class="chat-right">
                                                <div class="chat-hour">@item.DateCreated.ToString("HH:mm") <span class="fa fa-check-circle ms-1"></span></div>
                                                <div class="chat-text">
                                                    @if (item.Type == 1)
                                                    {
                                                        @item.Message1
                                                    }
                                                    else
                                                    {
                                                        <img class="chat-image" src="@Url.Content("~/assets/images/" +item.Image)" />
                                                        <br />
                                                        <p>@item.Message1</p>
                                                    }
                                                </div>
                                                <div class="chat-avatar"></div>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="chat-left">
                                                <div class="chat-avatar">
                                                    <img src="~/assets/chat/images/img_plant.png" alt="user avatar" />
                                                </div>
                                                <div class="chat-text">
                                                    @if (item.Type == 1)
                                                    {
                                                        @item.Message1
                                                    }
                                                    else
                                                    {
                                                        <img class="chat-image" src="@Url.Content("~/assets/images/" +item.Image)" />
                                                        <br />
                                                        <p>@item.Message1</p>
                                                    }
                                                </div>
                                                <div class="chat-hour">@item.DateCreated.ToString("HH:mm") <span class="fa fa-check-circle ms-1"></span></div>
                                            </li>
                                        }
                                    }
                                </ul>
                                <div class="mt-3 mb-0">
                                    <img id="output" width="100" />
                                    <form class="d-flex flex-row bd-highlight mb-3" action="@Url.Action("SendMessage", "Contact")" method="post" enctype="multipart/form-data" data-fromuserid="@ViewData["fromUserId"]" data-touserid="@ViewData["toUserId"]" id="formMessage">
                                        <div class="input-group input-group-merge me-1 form-send-message">
                                            <input type="text" class="form-control message" id="message" placeholder="Type your message" autocomplete="off">
                                            <span class="input-group-text">
                                                <label for="file" class="attachment-icon form-label mb-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image cursor-pointer text-secondary"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                                                </label>
                                                <input type="file" id="file" name="file" accept="image/x-png,image/gif,image/jpeg" onchange="loadFile_edit(event)" hidden>
                                            </span>
                                            <script>
                                                var loadFile_edit = function (event) {
                                                    var image = document.getElementById('output');
                                                    image.src = URL.createObjectURL(event.target.files[0]);
                                                };
                                            </script>
                                        </div>
                                        <button type="submit" class="btn btn-pronia-primary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send d-lg-none"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                                            <span class="d-none d-lg-block">Send</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>
            </div>
        </div>
        <!-- Row end -->
    </div>
    <!-- Content wrapper end -->
</div>

<!-- Modal -->
<div id="imageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" id="imagepreview" class="w-75 d-flex mx-auto">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/assets/chat/css/app-chat.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/assets/signalR/jquery.signalR.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/assets/chat/js/app-chat.js"></script>
}
