﻿@model IEnumerable<GardenShopOnline.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Account</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Account</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4>ACCOUNT</h4>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn  btn-primary btn-block" data-toggle="modal" data-target="#AddUser">Add new</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive">
                                <table id="tblUser" class="table table-hover w-100">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Staff ID</th>
                                            <th>Full Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="AddUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AddUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="needs-validation userForm" method="post" action="@Url.Action("Create", "AspNetUsers")" oninput='confirmPassword.setCustomValidity(confirmPassword.value != password.value ? "Passwords do not match." : "")' novalidate>
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="AddUserLabel">Create new account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    Full name<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Full name" class="form-control" id="fullName" name="fullName" required>
                                    <div class="invalid-feedback">
                                        Please enter full name!
                                    </div>
                                </div> <!---->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Email<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="email" placeholder="Email" class="form-control" id="email" name="email" pattern="^\w+([-+.']\w+)*@('@')\w+([-.]\w+)*\.\w+([-.]\w+)*$" required>
                                    <div class="invalid-feedback">
                                        Please enter valid email!
                                    </div>
                                </div> <!---->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Role<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    @Html.DropDownList("role_id", null, htmlAttributes: new { @class = "form-control", @aria_label = "Choose role" })
                                    <div class="invalid-feedback">Please choose role</div>
                                </div> <!---->

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Password<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="password" placeholder="Password" id="password" name="password" class="form-control" required>
                                    <div class="invalid-feedback">
                                        Password cannot be left blank !
                                    </div>
                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="product-price-import">
                                    Confirm Password<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                                    <div class="invalid-feedback">
                                        Passwords do not match.
                                    </div>
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="EditUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EditUserLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="needs-validation userForm" method="post" action="@Url.Action("Edit", "AspNetUsers")" novalidate>
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="EditUserLabel">Update account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var dataTable;
        dataTable = $('#tblUser').DataTable({
            ajax: {
                url: '@Url.Action("GetData", "AspNetUsers")',
                type: 'GET',
                dataType: 'json',
                dataSrc: ''
            },
            processing: true,
            columns: [
                { 'data': '', defaultContent: '' },
                { 'data': 'StaffId' },
                { 'data': 'FullName' },
                { 'data': 'Email' },
                { 'data': 'Name' },
                {
                    'data': 'Id', 'render': function (data, type, row) {
                        return "<button class='btn btn-success' onclick=getUser('" + data + "')>" +
                        "<i class='feather icon-edit'>" +
                            "</i>" +
                            "</button>" +
                            "<button class='btn btn-danger' onclick=deleteUser('" + data + "')>" +
                            "<i class='feather icon-trash-2'>" +
                            "</i>" +
                            "</button>";
                    }
                }
            ],
            columnDefs: [
                { className: 'text-center', targets: 1 },
                { width: '15%', targets: 5 },
            ],
            order: [[1, 'asc']],
            pagingType: 'full_numbers',
        });

        dataTable.on('order.dt search.dt', function () {
            let i = 1;
            dataTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();

        $('.userForm').submit(function (e) {
            var form = $(this);

            // Check if form is valid then submit ajax
            if (form[0].checkValidity()) {
                e.preventDefault();
                var url = form.attr('action');
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: form.serialize(),
                    success: function (data) {
                        // Hide bootstrap modal to prevent conflict
                        $('.modal').modal('hide');

                        if (data.success) {
                            // Refresh table data
                            dataTable.ajax.reload();
                            swal({
                                title: data.message,
                                type: 'success',
                                confirmButtonText: "OK"
                            })

                            form[0].reset();
                            form.removeClass('was-validated');
                        } else {
                            swal({
                                title: 'Oops',
                                text: data.message,
                                type: 'error',
                                confirmButtonText: 'OK',
                                confirmButtonColor: "#ec6c62"
                            }, function () { $('#AddUser').modal('show') }); // Show bootstrap modal again
                        }
                    }
                });
            }
        });

        function getUser(id) {
            $.ajax({
                url: '@Url.Action("Edit", "AspNetUsers")',
                type: 'GET',
                data: { id },
                success: function (response) {
                    // Add response in Modal body
                    $('#EditUser .modal-body').html(response);

                    // Display Modal
                    $('#EditUser').modal('show');
                }
            });
        }

        // Function to delete user
        function deleteUser(id) {
            swal({
                title: "Are you sure want to delete?",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: "Confirm",
                confirmButtonColor: "#ec6c62",
            }, function () {
                $.ajax({
                    url: '@Url.Action("Delete", "AspNetUsers")',
                    type: 'POST',
                    data: { id },
                    success: function (data) {
                        if (data.success) {
                            // Refresh table data
                            dataTable.ajax.reload();
                            swal({
                                title: data.message,
                                type: 'success',
                                confirmButtonText: "OK"
                            })
                        } else {
                            swal({
                                title: 'Oops',
                                text: data.message,
                                type: 'error',
                                confirmButtonText: 'OK',
                                confirmButtonColor: "#ec6c62"
                            });
                        }
                    }
                });
            })
        }
    </script>
}