@{
    ViewBag.Title = "Order statistics";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Order statistics</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Order statistics</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Order statistics</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas class="line-chart-ex chartjs" id="statistics-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.1/luxon.min.js" integrity="sha512-hZKz8wkgOcWeZanRioE6H6AC3OJspzJQyDBB5jLoZ1jIKbYDt5MwVIvU703WwE4sjvKZw9uNmmYlt29xKS27RA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/Admin/assets/js/plugins/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script type="text/javascript">
        //Get the context of the Chart canvas element we want to select
        var ctx = $("#statistics-chart"),
            chartWrapper = $('.chartjs');
        const DateTime = luxon.DateTime;

        const chartOptions = {
            plugins: {
                title: {
                    text: 'Chart.js Time Scale',
                    display: true
                }
            },
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day',
                        // Luxon format string
                        tooltipFormat: 'dd/MM/yy'
                    },
                    title: {
                        display: true,
                        text: 'Date'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'value'
                    }
                }
            },
        };

        const chartData = {
            labels: [ // Date Objects
                newDate(0),
                newDate(1),
                newDate(2),
                newDate(3),
                newDate(4),
                newDate(5),
                newDate(6)
            ],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'red',
                borderColor: 'red',
                fill: false,
                data: [0, 5, 9, 18, 27, 18, 15, 10],
            }]
        };

        // Create the chart
        var chart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: chartOptions
        });

        function newDate(days) {
            return DateTime.now().plus({ days }).toJSDate();
        }

    </script>
}