@{
    ViewBag.Title = "Order statistics";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Order statistics</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Order statistics</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Order statistics</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <div class="mx-datepicker">
                                        <div class="mx-input-wrapper">
                                            <input name="date_start" id="filter_DateStart" type="date" placeholder="" class="form-control custom-width" value="@String.Format("{0:yyyy-MM-dd}", DateTime.Today.AddDays(-6))">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mx-datepicker">
                                        <div class="mx-input-wrapper">
                                            <input name="date_end" id="filter_DateEnd" type="date" class="form-control custom-width" value="@String.Format("{0:yyyy-MM-dd}", DateTime.Today)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <canvas class="line-chart-ex chartjs" id="statistics-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/assets/Admin/assets/js/plugins/chart.min.js"></script>
    <script type="text/javascript">
        //Get the context of the Chart canvas element we want to select
        var ctx = $("#statistics-chart"),
            chartWrapper = $('.chartjs'),
            startDateFilter = $('#filter_DateStart'),
            endDateFilter = $('#filter_DateEnd'),
            startDate = new Date(startDateFilter.val()),
            endDate = new Date(endDateFilter.val()),
            dates = [];

        // Loop to create date labels
        for (var d = startDate; d <= endDate; d.setDate(d.getDate() + 1)) {
            dates.push(new Date(d).toLocaleDateString('en-GB'));
        }

        const chartOptions = {
            plugins: {
                title: {
                    text: 'Chart.js Time Scale',
                    display: true
                }
            },
            scales: {
                x: {
                    time: {
                        unit: 'day',
                        // Luxon format string
                        tooltipFormat: 'dd/MM/yy'
                    },
                    title: {
                        display: true,
                        text: 'Date'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'value'
                    }
                }
            },
        };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetOrderData", "Statistics")',
            success: function (response) {
                const chartData = {
                    labels: dates,
                    datasets: [{
                        label: 'My First dataset',
                        backgroundColor: 'red',
                        borderColor: 'red',
                        fill: false,
                        data: response,
                    }]
                }

                // Create the chart
                var chart = new Chart(ctx, {
                    type: 'line',
                    data: chartData,
                    options: chartOptions
                });
            }
        });
    </script>
}