﻿@model IEnumerable<GardenShopOnline.Models.Product>

@foreach (var item in Model)
{
    <div class="swiper-slide product-item">
        <div class="product-img">
            <a href="@Url.Action("Details", "Products", new { id = item.ID })">
                <img class="primary-img" src="~/assets/images/@item.Image" alt="Product Images">
            </a>
            <div class="product-add-action">
                <ul>
                    <li>
                        <a class="add-to-cart" href="@Url.Action("AddToCart", "ShoppingCart", new { id = item.ID })" data-tippy="Add to cart" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                            <i class="pe-7s-cart"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-content">
            <a class="product-name" href="single-product-variable.html">@item.Name</a>
            <div class="price-box pb-1">
                <span class="new-price">@item.Price.ToString("N0") ₫</span>
            </div>
        </div>
    </div>
}