﻿@model GardenShopOnline.Models.Product

@{
    ViewBag.Title = "Details";
}

<main class="main-content">
    <div class="single-product-area mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-product-img">
                        <a href="~/assets/images/@Model.Image" class="single-img gallery-popup">
                            <img class="img-full" src="~/assets/images/@Model.Image" alt="Product Image">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <div class="single-product-content">
                        <h2 class="title">@Model.Name</h2>
                        <div class="price-box">
                            <span class="new-price">@Model.Price.ToString("N0") ₫</span>
                        </div>
                        <div class="pb-4">
                            <div class="review-status">
                                <a href="#">( @ViewData["CommentCount"] Review )</a>
                            </div>
                        </div>
                        <ul class="quantity-with-btn d-flex align-items-center">
                            <li class="quantity">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" value="1" min="1" type="text" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                                </div>
                            </li>
                            <li class="add-to-cart">
                                <a class="btn btn-custom-size lg-size btn-pronia-primary" href="@Url.Action("AddToCart", "ShoppingCart")" data-id="@Model.ID">
                                    Add to
                                    cart
                                </a>
                            </li>
                            <li>
                                @Model.Quantity Available Stocks
                            </li>
                        </ul>
                        <ul class="service-item-wrap">
                            <li class="service-item">
                                <div class="service-img">
                                    <img src="~/assets/customer/images/shipping/icon/car.png" alt="Shipping Icon">
                                </div>
                                <div class="service-content">
                                    <span class="title">Free <br> Shipping</span>
                                </div>
                            </li>
                            <li class="service-item">
                                <div class="service-img">
                                    <img src="~/assets/customer/images/shipping/icon/card.png" alt="Shipping Icon">
                                </div>
                                <div class="service-content">
                                    <span class="title">Safe <br> Payment</span>
                                </div>
                            </li>
                            <li class="service-item">
                                <div class="service-img">
                                    <img src="~/assets/customer/images/shipping/icon/service.png" alt="Shipping Icon">
                                </div>
                                <div class="service-content">
                                    <span class="title">Safe <br> Payment</span>
                                </div>
                            </li>
                        </ul>
                        <div class="product-category">
                            <span class="title">SKU:</span>
                            <ul>
                                <li>
                                    <a href="#">@Model.ID</a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-category product-tags">
                            <span class="title">Type :</span>
                            <ul>
                                <li>
                                    <a href="#">@Model.Type.Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-category">
                            <span class="title">Category :</span>
                            <ul>
                                <li>
                                    <a href="#">@Model.Category.Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-category social-link align-items-center pb-0">
                            <span class="title pe-3">Share:</span>
                            <ul>
                                <li>
                                    <a href="#" data-tippy="Pinterest" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-tippy="Tumblr" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-tumblr"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-tippy="Dribbble" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-tab-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav product-tab-nav tab-style-2 pt-0" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="tab-btn" id="information-tab" data-bs-toggle="tab" href="#information" role="tab" aria-controls="information" aria-selected="false">
                                Information
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="active tab-btn" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                                Description
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="tab-btn" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">
                                Reviews(@ViewData["CommentCount"])
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content product-tab-content">
                        <div class="tab-pane fade" id="information" role="tabpanel" aria-labelledby="information-tab">
                            <div class="product-information-body">
                                <h4 class="title">Shipping</h4>
                                <p class="short-desc mb-4">
                                    The item will be shipped from China. So it need 15-20 days to
                                    deliver. Our product is good with reasonable price and we believe you will worth it.
                                    So please wait for it patiently! Thanks.Any question please kindly to contact us and
                                    we promise to work hard to help you to solve the problem
                                </p>
                                <h4 class="title">About return request</h4>
                                <p class="short-desc mb-4">
                                    If you don't need the item with worry, you can contact us
                                    then we will help you to solve the problem, so please close the return request!
                                    Thanks
                                </p>
                                <h4 class="title">Guarantee</h4>
                                <p class="short-desc mb-0">
                                    If it is the quality question, we will resend or refund to
                                    you; If you receive damaged or wrong items, please contact us and attach some
                                    pictures about product, we will exchange a new correct item to you after the
                                    confirmation.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <div class="product-description-body">
                                <p class="short-desc mb-0">
                                    @Html.Raw(Model.Description)
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="product-review-body">
                                @Html.Action("CommentProduct", "CommentProducts", new { product_id = Model.ID })

                                <div class="feedback-area">
                                    <h2 class="heading">Leave a comment</h2>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <form class="feedback-form">
                                            <input type="hidden" id="product_id" value="@Model.ID" />
                                            <div class="form-field mt-30">
                                                <textarea name="message" id="Message" placeholder="Message" class="textarea-field" required></textarea>
                                            </div>
                                            <div class="button-wrap pt-5">
                                                <button type="button" value="submit" onclick="Comment()" class="btn btn-custom-size xl-size btn-pronia-primary" name="submit">
                                                    Post
                                                    Comment
                                                </button>
                                            </div>
                                        </form>
                                    }
                                    else
                                    {
                                        <p>To leave a comment, <a href="@Url.Action("Login", "Account")">Login into the system</a></p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin Product Area -->
    <div class="product-area section-space-y-axis-90">
        <div class="container">
            <div class="row">
                <div class="section-title-wrap without-tab">
                    <h2 class="section-title">Related Products</h2>
                </div>
                <div class="col-lg-12">
                    <div class="swiper-container product-slider">
                        <div class="swiper-wrapper">
                            @Html.Action("GetRelatedProducts", "Products", new { productId = Model.ID, typeId = Model.TypeID, categoryId = Model.CategoryID })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Area End Here -->

</main>
<div class="modal quick-view-modal fade" id="quickModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="quickModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-pronia-primary">
                <h5 class="modal-title" id="exampleModalCenterTitle">Notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-tippy="Close" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                </button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Your comment has been recorded, to avoid harassment, our website will check if there is no abnormality, it will be displayed publicly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $('.add-to-cart .btn').click(function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var quantity = $(this).parents().find('input.cart-plus-minus-box').val();
            // Call action to add product to cart
            $.ajax({
                url: $(this).attr('href'),
                type: 'GET',
                data: { id, quantity }
            }).done(function () {
                // Refresh mini cart
                getMiniCart();
                toastr.options.positionClass = 'toast-bottom-right';
                toastr["success"]("Thêm thành công!");
            });
        });

        function Comment() {
            var product_id = $('#product_id').val();
            var Message = $('#Message').val();

            $.ajax({
                url: '@Url.Action("Comment_product", "Products")',
                data: {
                    product_id: product_id,
                    content: Message,
                }
            }).done(function (result) {
                $('#Message').val('');
                $('#quickModal.close').css('display', 'none');
                $('#quickModal').modal('show');

            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                console.log(errorThrown)
                alert("Something Went Wrong, Try Later");
            });
        }
    </script>
}